# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
.env/
venv/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Django stuff:
*.log
local_settings.py

# PyCharm
.idea/
.env
